@page {
  size: A4;
  margin: -9px;
} /* Sayfayı A4 Yapma */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-image: url(../img/more-leaves.png);
  background-repeat: repeat;
  margin: 0px;
}

table, tr, th, td {
  border: 3px solid black;
  background-color: white;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

th, td {
  padding-left: 30px;
  padding-right: 30px;
}

table {
  margin-bottom: 9px;
  display: inline-table;
}

img {
  display: inline-block;
  height: 175px;
}

footer {
  background-color: cadetblue;
  margin-bottom: -9px; /* WARNING: BU LINE'DAN EMİN DEĞİLİM SİLEBİLİRSİN SAÇMAYSA!!! */
}

.p {
  display: inline-flex;
  background-color: white;
}

.header {
  font-family: 'Bona Nova', serif;
  font-size: 46px;
  color: MediumSeaGreen;
  position: absolute;
  left: 1%;
  right: 1%;
}

.leftmargin {
  margin-left: 17px;
}

.rightmargin {
  margin-right: 9px;
}

.headerbackground {
  height: 110px;
  width: 100%;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.inline {
  display: inline-flex;
  height: 175px;
}

.footer {
  margin-left: 17px;
  margin-right: 9px;
  font-size: 8px;
  text-align: center;
}
