body {
  width: 210mm;
  height: 297mm;
  background-color: teal;
  padding-left: 45mm;
  padding-right: 45mm;
  padding-top: 30mm;
  padding-bottom: 30mm;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.header {
  color: crimson;
}

table, tr, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 5px;
}

table {
  margin-left: 405px;
}

td, th {
  padding-left: 56px;
  padding-right: 56px;
}